<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" th:href="@{/styles/main.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/styles/base.css}" type="text/css">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/styles/font/fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/all.css}">

</head>

<body>
	<div id="main">
		<!------------------------------------------------header ------------------------------------------------------------------------------------------>
		<div class="header">
			<div class="header_list">
				<div class="header_list-logo">
					<a href="#" class="header_img">
						<img th:src="@{/styles/img/go-mobile-plans.png}" alt="">
					</a>

				</div>
				<div class="header_list-menu">
					<i class="fa-solid fa-bars bar"></i>
					<p class="danhmuc">Danh mục</p>
					<div class="header_list-menulist">
						<ul class="header_list-menulist-list">
							<li class="header_list-menulist-item">
								<div class="header_menu-item">
									<div class="item-first">
										<i class="fa-sharp fa-solid fa-mobile-screen mobile"></i>
										<p>iPhone</p>
									</div>
									<i class="fa-solid fa-chevron-right chevron-right"></i>
								</div>
							</li>
							<li class="header_list-menulist-item">
								<div class="header_menu-item">
									<div class="item-first">
										<i class="fa-solid fa-laptop mobile"></i>
										<p>Redmi</p>
									</div>
									<i class="fa-solid fa-chevron-right chevron-right"></i>
								</div>
							</li>
							<li class="header_list-menulist-item">
								<div class="header_menu-item">
									<div class="item-first">
										<i class="fa-regular fa-clock mobile"></i>
										<p>Samsung</p>
									</div>
									<i class="fa-solid fa-chevron-right chevron-right"></i>
								</div>
							</li>
							<li class="header_list-menulist-item">
								<div class="header_menu-item">
									<div class="item-first">
										<i class="fa-solid fa-headphones mobile"></i>
										<p>Oppo</p>
									</div>
									<i class="fa-solid fa-chevron-right chevron-right"></i>
								</div>
							</li>
						</ul>

					</div>
				</div>
				<div class="header_list-search">
					<div class="header_list-searchbox">

						<div class="searchbox_input">
							<input type="text" name="search" placeholder="Bạn cần tìm gì">
						</div>
						<div class="seach-icon">
							<i class="fa-solid fa-magnifying-glass"></i>
						</div>
					</div>

				</div>
				<div class="header_cart">
					<a href="/logins/check">
						<i class="fa-solid fa-cart-shopping"></i>
					</a>
				</div>
				<div class="header_login">
					<div class="signup">
						<a class="signupbutton" href="/signup/add">Đăng kí</a>
					</div>
					<div class="login">
						<a class="signupbutton" href="/logins/check">Đăng nhập</a>
					</div>
				</div>
				
				<div class="header_order">
					<a class="order_product" href="/logins/check">
						<i class="fa-solid fa-truck"></i>
					</a>
				</div>
			</div>
		</div>


		<!-- -------------------------------------------phan noi dung------------------------------------------------- -->
		<div class="container">

			<div class="container_banner">
				<img th:src="@{/styles/img/banner/banner6.png}" id="hinh" alt="">
				<i class="fa-solid fa-circle-chevron-left" onclick="prev()"></i>
				<i class="fa-solid fa-circle-chevron-right" onclick="next()"></i>
			</div>

			<div class="container_main">
				<div class="container_main_item">
					<div class="container_item" th:each="product:${products}">
						<div class="container_item_product">
							<img th:src="${product.img}" alt="">
						</div>
						<div class="container_item_phonename">
							<p th:text="${product.brand}"></p>
							<span class="phone_cost">
								<strong th:text="${product.cost}"></strong>
								<p style="display: inline-block;">₫</p>
							</span>
						</div>												
					    <div class="container_item_button">					
						    <a class="add_cart" href="/logins/check"><p>Thêm vào giỏ hàng</p></a>						
					    </div>						                       
					</div>

				</div>
			</div>
			<div class="container_open">
				<button>Xem thêm</button>
			</div>
		</div>
		<!-- ----------------------------------------------footer-------------------------------------------->
		<div class="footer">
			<div class="footer_main">
				<div class="footer_front">
					<div class="footer_support" style="margin-left: 48px;">
						<h4>Hỗ trợ - Dịch vụ</h4>
						<ul>
							<li><a href="#">Mua hàng trả góp</a></li>
							<li><a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
							<li><a href="#">Tra cứu đơn hàng</a></li>
							<li><a href="#">Chính sách bảo hành</a></li>
							<li><a href="#">Phạm vi, điều khoản gói bảo hành mở rộng</a></li>
							<li><a href="#">Chính sách bảo mật</a></li>
							<li><a href="#">Chính sách giải quyết khiếu nại</a></li>
							<li><a href="#">Điều khoản mua bán hàng hóa</a></li>
							<li><a href="#">Câu hỏi thường gặp</a></li>
						</ul>
					</div>
					<div class="footer_support">
						<h4>Thông Tin - Liên Hệ</h4>
						<ul>
							<li><a href="#">Bán hàng Online</a></li>
							<li><a href="#">Chăm sóc Khách hàng</a></li>
							<li><a href="#">Hỗ trợ Kỹ thuật</a></li>
							<li><a href="#">Hỗ trợ Bảo hành & Sửa chữa</a></li>
							<li><a href="#">Liên hệ khối văn phòng</a></li>
							<li><a href="#">Trung tâm bảo hành</a></li>

						</ul>
					</div>
					<div class="footer_support free">
						<h4>Tổng đài hỗ trợ miễn phí</h4>
						<ul>
							<li><a class="sdt" href="#" style="font-size: 18px;">0865955830</a></li>

						</ul>
					</div>
					<div class="footer_support thanhtoan">
						<h4>Phương thức thanh toán</h4>
						<ul>
							<li><a href="#"><img th:src="@{/styles/img/icon/logo-jcb.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/logo-samsungpay.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/logo-atm.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/logo-master.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/logo-visa.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/logo-vnpay.png}" alt=""></a></li>
						</ul>
					</div>
					<div class="footer_support thanhtoan">
						<h4>Kết nối với chúng tôi</h4>
						<ul>
							<li><a href="#"><img th:src="@{/styles/img/icon/cellphones-facebook.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/cellphones-instagram.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/cellphones-tiktok.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/cellphones-youtube.png}" alt=""></a></li>
							<li><a href="#"><img th:src="@{/styles/img/icon/cellphones-zalo.png}" alt=""></a></li>
						</ul>
					</div>
				</div>
				<div class="footer_bottom">
					<p>2023. Học viện công nghệ Bưu chính Viễn thông</p>
					<p>Trụ sở chính: 122 Hoàng Quốc Việt, Quận Cầu Giấy, Hà Nội </p>
					<p>Cơ sở đào tạo tại Hà Nội: Km10, Đường Nguyễn Trãi, Quận Hà Đông, Hà Nội</p>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/styles/javascript/main.js}"></script>
</body>

</html>