.main_container{
   
    padding:46px 0 80px 0;
    background-color: rgb(200, 209, 211);
    
}
.main_container_box{
	overflow-y:auto;
    height: 600px;
    padding-right: 16px;
    width: 80%;
    margin: 0 auto;
	
}

.main_container_form{
    width: 100%;
    
    background-color: rgb(210, 232, 241);;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
   
}
.form_product{
    width: 40%;
    position: relative;

}
.form_product img{
    width: 160px;
    height: 200px;
    
}
.form_information{
    width: 60%;
    border-left: 2px solid rgb(223, 218, 218);

}
.product_img{
    display: flex;
    justify-content: center;
    margin: 32px 0 32px 0;
}
.phone_infor{

}
.phone_infor p{
    font-size: 20px;
    text-align: center;
}
.phone_infor strong{
    font-size: 20px;
    text-align: center;
}
.form_header{
    width: 100%;
    text-align: center;   
    height: 12%;
    position: relative;
}
.form_header h1{
    font-size: 32px;
    display: inline-block;
    line-height: 54px;
}
.form_input{

}
.form_login_header-cancel{
    position: absolute;
    top:0;
    right: 0;
    font-size: 20px;
    padding: 8px 12px;
}
.form_login_header-cancel:hover{
    opacity: 0.6;
}
.form_login_header-cancel a{
    color:black;

}
.form_main{
    padding-bottom: 32px;
    
}
.form_container{
    display: flex;
    margin-top: 16px;
    
}
.form_order{
    width: 80%;
    margin:0 auto;
}
.boxinput{
    height: 48px;
    width: 100%;
    border-radius: 18px;
    border: none;
    outline: none;
    text-indent: 16px;
    font-size: 16px;
    margin-top:32px;
}
.checkinput{
    font-size: 16px;
    margin: 8px 0 0 8px;
}
.label{
    margin-top: 12px;
}
.submitbutton{
    padding: 18px 48px 18px 48px;
    border-radius: 24px;
    margin: 0 auto;
    font-size: 20px;
    background-color: rgb(114, 206, 242);
    color: black;
    border: none;
    text-decoration: none;
   
}
.submitbutton:hover{
    opacity: 0.6;
}
.form_submit{
    margin: 64px 0 0px 0;
    display: flex;
}
.phone_cost{
    position: absolute;
    left: 38px;
    right: 0;
    bottom: 28px;
}
.cost{
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    margin:0 12px 32px 18px ;
}
.checkinputlabel{
    margin-top:24px;
}
.user{
    display: inline-block;
    font-size: 24px;
    margin-left: 8px;
    font-weight: bold;
    line-height: 1.6;
}
.labelcss{
    font-size: 24px;
    
}
.labelcssadd{
	display: block;
    margin-top: 28px;
}
.margintop{
    
    margin-top:64px;
}
.marginbottom{
    margin-bottom: 64px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thiết lập màu cho "nút kéo" trên thanh scroll */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Thiết lập màu cho "nút kéo" khi đưa chuột vào */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
